.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-brand.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  padding-bottom: 1px;
}

a.navbar-brand {
  font-size: 1rem;
}

div.search {
  position: relative;
}

div.search input {
  padding-right: 43px;
}

div.search button {
  position: absolute;
  top: 0;
  right: 0;
}

.App-logo {
  height: 35px;
}

.estrangela {
  font-family: 'Estrangelo-V1.1';
  font-size: larger;
  font-weight: normal;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.syriac {
  font-family: 'SertoJerusalem';
  font-size: larger;
  font-weight: normal;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.semitic {
  font-size: larger;
  font-weight: normal;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.table th {
  text-align: center;
}

.verba {
  white-space: pre;
}

.footer {
  padding: 10px 15px 0 15px;
  font-size: smaller;
}

.mapper {
  text-align: center;
  margin-top: 70px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-item {
  flex: 1 1 auto;
}
