/* Estrangelo (V1.1) ASCII */
@font-face {
  font-family: 'Estrangelo-V1.1';
  font-style: normal;
  font-weight: normal;
  src: local('Estrangelo (V1.1)'), local('Estrangelo (V1.1) Regular'),
    url(./font/Estrangelo.ttf) format('truetype');
  unicode-range: U+0000-00FF;
}

/* Serto Jerusalem */
@font-face {
	font-family: 'SertoJerusalem';
	src: local('Serto Jerusalem');
	src: url('./font/syrcomurhoy.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
