.App-logo {
  height: 35px;
}

.home {
  margin: auto;
  padding: 20px 15px 10px 15px;
}

.str {
  font-family: 'Estrangelo-V1.1';
  font-size: larger;
  font-weight: bold;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.table th {
  text-align: center;
}

.verba {
  white-space: pre;
}

.footer {
  padding: 10px 15px 0 15px;
  font-size: smaller;
}
