.App-logo {
  height: 35px;
}

.estrangela {
  font-family: 'Estrangelo-V1.1';
  font-size: larger;
  font-weight: normal;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.syriac {
  font-family: 'SertoJerusalem';
  font-size: larger;
  font-weight: normal;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.semitic {
  font-size: larger;
  font-weight: normal;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.table th {
  text-align: center;
}

.verba {
  white-space: pre;
}

.footer {
  padding: 10px 15px 0 15px;
  font-size: smaller;
}

.mapper {
  text-align: center;
  margin-top: 70px;
}
